# src/config/.env.sample
BASE_URL=
FRONTEND_URL=
PORT=
CORS_ORIGIN=
MONGODB_URI=
JWT_SECRET=
JWT_SIGNUP_EXPIRES_IN=
JWT_LOGIN_EXPIRES_IN=
GMAIL_USER=
GMAIL_APP_PASSWORD=
CLOUD_NAME=
CLOUD_API_KEY=
CLOUD_API_SECRET=
MEDIA_STORAGE_PROVIDER=local
KNOCK_API_KEY=
KNOCK_IN_APP_CHANNEL_ID=
KNOCK_EMAIL_CHANNEL_ID=
KNOCK_PUSH_CHANNEL_ID=

ESEWA_SECRET_KEY= "8gBm/:&EnhH.1/q"
ESEWA_GATEWAY_URL = "https://rc-epay.esewa.com.np"
ESEWA_PRODUCT_CODE = "EPAYTEST"

ESEWA_SUCCESS_URL = "https://developer.esewa.com.np/success"
ESEWA_FAILURE_URL = "https://developer.esewa.com.np/failure"

# eSewa ID: 9806800001/2/3/4/5
# Password: Nepal@123
# MPIN: 1122 
# Token:123456

KHALTI_SECRET_KEY="b54feeda1abc4ef79977fcfa5e09dfff" #find it in khalti  https://test-admin.khalti.com/#/join/merchant
KHALTI_GATEWAY_URL="https://dev.khalti.com"
KHALTI_PRODUCT_CODE="EPAYTEST"
KHALTI_PUBLIC_KEY="cb43f0529e214d77a2c8432022d3aebf"

# Khalti ID: 9800000001/2/3/4/5
# MPIN: 1111 
# Token:987654